*{

    margin: 0;
    padding: 0;

}

main{

    width: 100%;
    height: auto;
    

}

/** Banner Section */
.bannerSection{

    width: 100%;
    height: 47rem;
    margin-top: -160px;
    background-color: var(--fourth-color);

}

/** Swiper Section */
.swiperSection{

    width: 100%;
    height: 100%;
    position: relative;

}

/** Swiper Slide Section */
.swiperSlideSection{

    width: 100%;
    height: 100%;

}

/** Swiper Slide Image Section */
.swiperSlideSection > .imageSection{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-700px);
    filter: blur(20px);
    transition: all 2s ease-in-out 0.6s;
    border-radius: 0px 0px 50000px 50000px;
    corner-shape: bevel;
    opacity: 0;
    overflow: hidden;
    box-shadow: 0px 0px 100px var(--fifth-color), 0px 0px 200px var(--third-color);

}

:global(.swiper-slide-active) .imageSection {

    transform: translateY(0px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    border-bottom: 0px solid var(--fifth-color);
    border-radius: 0px;
    corner-shape: none;
    filter: blur(0px);
    transition-delay: 1s;
    transition-property: transform, opacity, filter, border-radius, border-bottom, corner-shape;

}

.imageSection > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

}

/** Swiper Slide Image Section Color Overlay */
.imageSection > .colorOverlay{

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff00 70%, #292929bf);

}

/** Swiper Slide Image Details Section */
.swiperSlideSection > .imageDetailsSection{

    position: absolute;
    top: 55%;
    left: 30px;
    width: 60%;
    height: 20rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transition:  all 2s ease;

}

:global(.swiper-slide-active) .imageDetailsSection{

    opacity: 1;
    transition-delay: 2s;
    transition-property: opacity;

}

/** Swiper Slide Image Inner Details Section */
.imageDetailsSection > .imageInnerDetailsSection{

    width: 100%;
    overflow: hidden;

}

.imageInnerDetailsSection > span{

    font-family: var(--fourth-font);
    font-size: 25px;
    color: var(--secondary-color);
    letter-spacing: 2px;
    background-color: var(--primary-color);
    padding: 5px 100px 5px 10px;
    border-radius: 0px 100px 0px 0px;
    corner-shape: bevel;
    margin-bottom: 10px;
    display: inline-flex;
    font-weight: bold;
    transform: translateY(-2000px);
    transition: all 2s ease;
    opacity: 0;

}

:global(.swiper-slide-active) .imageInnerDetailsSection > span{

    transform: translateY(0px);
    opacity: 1;
    transition-delay: 1s;
    transition-property: transform, opacity;

}

.imageInnerDetailsSection > h3{

    font-family: var(--fourth-font);
    font-size: 50px;
    color: var(--fifth-color);
    letter-spacing: 2px;
    margin-bottom: 20px;
    transform: translateX(-2000px);
    transition: all 2.5s ease;

}

:global(.swiper-slide-active) .imageInnerDetailsSection > h3{

    transform: translateX(0px);;
    transition-delay: 2s;
    transition-property: transform;

}

.imageInnerDetailsSection > p{

    color: var(--fifth-color);
    font-family: var(--fourth-font);
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    transform: scaleY(0);
    opacity: 0;
    transition: all 2s ease;

}

:global(.swiper-slide-active) .imageInnerDetailsSection > p{

    transform: scaleY(1);
    opacity: 1;
    transition-delay: 3s;
    transition-property: transform, opacity;

}

/** Swiper Pagination */
.swiperSection > .swiper_pagination{

    position: absolute;
    z-index: 2;
    top: 50%;
    right: 100px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.swiper_pagination > :global(.swiper-pagination-bullet){

    width: 35px;
    height: 35px;
    border-radius: 50px;
    corner-shape: scoop;
    background-color: var(--fifth-color);
    opacity: 0.8;
    transition: all 0.5s ease;

}

.swiper_pagination > :global(.swiper-pagination-bullet-active){

    background-color: var(--secondary-color);
    opacity: 1;

}

/** About Section */
.aboutSection{

    width: 100%;
    height: 200vh;
    background-image: url('../../../public/images/Banner/b_image5.webp');
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    position: relative;

}

/** About Image Overlay */
.aboutSection > .imageOverlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #c3963554, #292929ca);

}

/** About Content Section */
.aboutSection > .contentSection{

    position: absolute;
    top: 0;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

/** Inner About Content section */
.contentSection > .innerContentSection{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.innerContentSection > span{

    color: var(--fifth-color);
    font-family: var(--fourth-font);
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;

}

.innerContentSection > span::after{

    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    width: 50%;
    height: 3px;
    content: "";

}

.innerContentSection > h2{

    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--fifth-color);
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 30px;

}

.innerContentSection > p{

    color: var(--fifth-color);
    text-align: center;
    width: 1400px;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: var(--fourth-font);
    font-size: 18px;
    letter-spacing: 2px;

}

.innerContentSection > a{

    margin-top: 20px;
    color: var(--fifth-color);
    font-family: var(--fourth-font);
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    padding: 10px 50px;
    border-radius: 50px;
    corner-shape: scoop;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: all 0.5s ease;

}

.innerContentSection > a:hover{

    color: var(--primary-color);

}

.innerContentSection > a::after{

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--fifth-color);
    z-index: -2;
    content: "";
    border-radius: 50px;
    corner-shape: scoop;
    transform: scale(0);
    transition: all 0.8s ease;
    opacity: 0;
    filter: blur(50px);

}

.innerContentSection > a:hover::after{

    opacity: 1;
    transform: scale(1);
    filter: blur(0px);

}

.innerContentSection a > svg{

    margin-left: -20px;
    color: var(--secondary-color);
    transform: scale(0) translateX(-20px);
    transition: all 0.5s ease;
    opacity: 0;

} 

.innerContentSection a:hover > svg{

    margin-left: 20px;
    transform: scale(1) translateX(0px);
    opacity: 1;

}

/** Card Highlight Section */
.aboutSection > .cardHighlightSection{

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;

}

/** Swiper Section */
.aboutswiperSection{

    margin-top: 100px;
    width: 85%;
    padding: 30px 50px 0px 30px;
    overflow: hidden;

}

/** Swiper Slide Section */
.aboutswiperSlideSection{

    width: 350px;
    height: 550px;
    border: 2px solid #ffffff;;
    border-radius: 50px 50px 50px 50px;
    backdrop-filter: blur(3px);
    corner-shape:  notch notch;
    overflow: hidden;
    transition: all 0.5s ease;

}

.aboutswiperSlideSection:hover{

    position: relative;
    transform: translateY(-20px) scale(1.02);
    cursor: pointer;
    box-shadow: 0px 0px 20px #ffffff, 0px 0px 50px #C39635;
    border-radius: 50px;
    corner-shape: scoop;

}

/** SVG Div */
.aboutswiperSlideSection > .svgIconDiv{

    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.svgIconDiv > .innerSvgIconDiv{

    width: 60px;
    height: 60px;
    padding: 15px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.5s ease;

}

.innerSvgIconDiv > svg{

    fill: var(--primary-color);
    width: 60px;
    height: 60px;
    transition: all 0.5s ease;

}

.aboutswiperSlideSection:hover .svgIconDiv > .innerSvgIconDiv{

    transform: scale(1.1) rotateY(180deg);
    background-color: var(--fifth-color);

} 

/** Title Div */
.aboutswiperSlideSection > .titleDiv{

    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titleDiv > h3{

    color: var(--fifth-color);
    font-family: var(--fourth-font);
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    width: 250px;

}


/** Para Section */
.aboutswiperSlideSection > .paraDiv{

    width: 100%;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;

}

.aboutswiperSlideSection:hover > .paraDiv{

    background-color: var(--third-color);

}

.paraDiv > p{

    width: 300px;
    color: var(--fourth-color);
    font-family: var(--fourth-font);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.5s ease;

}

.aboutswiperSlideSection:hover .paraDiv > p{

    color: var(--secondary-color);

}


